* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #f0f2f5;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.left,
.right,
form {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.left {
    width: 500px;
    align-items: flex-start;
}

.left h1 {
    font-family: "Roboto";
    font-size: 60px;
    color: black;
    ;
}

.left p {
    font-size: 30px;
    color: #1c1e21;
    height: 200px;
    font-family: "Roboto Condensed", sans-serif;
}

.right {
    width: 400px;
}

form {
    background-color: white;
    border-radius: 10px;
    width: 400px;
    display: flex;
    padding: 20px;
    margin-bottom: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

form input {
    width: 100%;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #999;
    outline: none;
    font-size: 16px;
}

.loginBtn {
    background-color: rgb(111, 106, 204);
    padding: 15px;
    text-align: center;
    text-decoration: none;
    width: 100%;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    font-family: 'Arial';
    font-weight: 700;
    transition: 0.5s;
}

.loginBtn:hover {
    background-color: rgb(165, 160, 250);
}

.forget {
    margin: 15px 0;
    text-decoration: none;
    color: #1877f2;
    font-family: 'Arial';
    font-size: 14px;
}

.sign-up {
    padding-top: 20px;
    border-top: 1px solid #999;
    width: 100%;
    display: flex;
    justify-content: center;
}

.signupBtn {
    background-color: rgb(189, 73, 116);
    padding: 15px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    color: white;
    font-size: 17px;
    font-family: 'Arial';
    font-weight: 600;
    transition: 0.5s;
}

.signupBtn:hover {
    background-color: rgb(131, 33, 69);
}

.right p {
    font-family: 'Arial';
    font-size: 15px;
}

@media(max-width:950px) {
    .container {
        flex-direction: column;
    }
    .left {
        width: 400px;
        align-content: center;
        align-items: center;
    }
    .left p {
        height: 75px;
    }
}